$header-bg-color: #222;
$contact-color:rgb(255, 255, 255);
$contact-text-size: 14px;
$contact-icon-size: 14px;
$logo-text-color: rgb(222,200,200);

.header{
  background-color: $header-bg-color;

  &__top {
    background-color: gray;
    border-bottom: 1px solid black;
  }

  &__bottom {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 30px;
  }
}

.contacts{
  text-align: right;  
}
.contact{

  display: inline-block;
  padding: 5px 15px 2px;
  color: $contact-color;
  vertical-align: top;
  transition: 0.3s;
  
  &:hover{
    color:lighten($color: $contact-color, $amount: 20%)
  }

  &__icon{
    margin: 0.3rem;
    font-size: $contact-icon-size;
  }

}

.contact__text
{
  font-family: $ff-main;
  font-size:$contact-text-size;
}


.logo__picture {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  
}
.logo__text{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: $ff-main-bold;
  font-size: 22px;
  color: $logo-text-color;
  margin-left: 5px;
}
 .logo{
   display: inline-block;
   vertical-align: middle;
   margin:0px;
 }


