$nav-link-font-size:15px;
$nav-link-font-color: #ffdfdf;
$nav-activelink-font-color:  rgb(250, 73, 73);

.nav{
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  margin-right: 15px;

  a{
    margin-left: 15px;
  }
  
  &__link{
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    font-size:$nav-link-font-size;
    font-family: $ff-main;
    text-transform: capitalize;
    color: $nav-link-font-color;
    transition: 0.3s;

    &:hover, 
    &__active{
        color:$nav-activelink-font-color;
    }

    &:after{
      content:'';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      margin-left: 15px;
      background: $nav-link-font-color;
    }
    &:last-child::after{
      display: none;
    }
  }
}