html(lang="ru")
  head
    meta(charset="utf-8")
    title= "VCARDS занятия с карточками для увеличения пассивного словарного запаса Вашего ребенка"
    link(href='/css/main.min.css', rel='stylesheet', type='text/css')
  body
    include sections/header
    include sections/hero 
    h1 Content
    ul.list#listItems
        li.list__item Значение 1
        li.list__item Значение 2
        li.list__item Значение 3
        li.list__item Значение 4
    include sections/footer
