$font-stack: Helvetica,
sans-serif;
$primary-color: #333;
body {
    font: 100% $font-stack;
    background: $primary-color;
}

h1 {
    color: red;
}

a {
    transition: transform 1s
}

.ccc {
    display: flex;
}

.header {
    background-color: saddlebrown;
}

.footer {
    background-color: salmon;
}