.contacts 
                a.contact(href='e-mail:lvovandrey@mail.ru')
                    i(class='fa fa-envelope contact__icon' aria-hidden='true') 
                        span.contact__text lvovandrey@mail.ru
                a.contact(href='https://www.vk.com')
                    i(class='fa fa-vk contact__icon' aria-hidden='true')