header.header
    h1 Header
    .header__top
        .container 
            include contacts
    .container 
        .header__bottom 
            .logo: img.logo_picture(src='img/book-icon.png' alt="VCARDS LOGO" width=45 height=45)
            include nav.pug
            a.button.header__button.button__red(href="#")
                i(class='fa fa-user-circle-o' aria-hidden='true')
                    span.contact__text Личный кабинет  
