section.hero 
  .hero__about Развитие пассивного словарного запаса
  h1.hero__title VCARDS - развивающие занятия и игры с карточками для детей младшего возраста. Основная цель проекта - помощь в организации и предъявлении дидактических материалов родителям, воспитателям и учителям детей с РАС.
  a.button.button__yellow.button__text__uppercase(href='#') Скачать игру 