nav.nav 
                - var items = ['Главная', 'Скачать', 'Справка','Онлайн-занятия']
                each item, index in items
                    if index===0
                        a.nav__link.nav__link__active(href="#")=  item
                    else
                        a.nav__link(href="#")= item
