nav.nav 
                - var items = ['Главная', 'Скачать', 'Справка','Онлайн-занятия']
                each item, index in items
                    -var itemIndexAndName =  (index+1) + '.' + item
                    if index===0
                        a.nav__link.nav__link__active(href="#")=  itemIndexAndName
                    else
                        a.nav__link(href="#")= itemIndexAndName 
